.button {
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 1;
    padding: 8px 16px;
    max-width: 100px;
    border: 2px solid;
    border-radius: 5px;
    transition: all .3s;
    color: var(--blue);
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 14px;
}

.button.primary {
    background: var(--yellow);
    background: var(--yellow);
    border-color: var(--yellow);
}

.button.primary:hover {
    color: var(--yellow);
    background: transparent;
}

.button.bordered_btn:hover {
    background: var(--blue);
    color: var(--bg_white);
    border-color: var(--blue);
}

/* Overlay Link */

.linkOverlay {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}