.card_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    background: rgba(253, 196, 86, 0.2);
    /* background: rgba(253, 196, 255, 0.2); */
    border-radius: 10px;
    padding: 20px 20px;
}

.project_card {
    width: calc(33.33% - 20px);
    padding: 10px;
}

.project_details {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.bg_overlay {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgb(253, 196, 53, 0.2);
    z-index: 1;
    border-radius: 10px;
    transition: all .5s;
}

.project_content {
    padding: 20px;
    margin: 20px;
    background: var(--yellow);
    background: rgb(253, 196, 53, 0.8);
    background: rgb(255, 255, 255, .8);
    border-radius: 10px;
    max-height: 150px;
}

.project_content::-webkit-scrollbar {
    width: 0px;
    border-radius: 10px;
}

.project_name {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 10px;
}

.project_desc {
    margin-bottom: 10px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.image_wrap {
    position: relative;
    width: 100%;
}

.sizer {
    padding-top: 56.25%;
}

.bg_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.linkOverlay {
    border-radius: 10px;
}

.linkOverlay:hover .bg_overlay {
    top: 0;
}

.linkOverlay:hover .project_details {
    top: 0;
}