.primary {
    color: var(--yellow);
    letter-spacing: 1.5px;
}

.hero_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col_50 {
    width: 50%;
}

.btn_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.intro {
    line-height: 1.2;
    font-weight: bold;
}

.description {
    color: var(--grayish_purple);
}