.navbar {
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all .3s;
}

.navbar.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(145deg, var(--bg_white), #f0f0f0);
    border-bottom-color: #e0e4e7;
    box-shadow: 0 4px 8px #0000001a;
    z-index: 9;
    transition: al .3s;
    background: linear-gradient(45deg, rgb(211 217 243), transparent);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.nav_wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    box-sizing: border-box;
}

.menu_items {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.mobile_menu {
    display: none;
}

/* Responsive CSS Start */

@media(max-width: 900px) {
    .menu_items {
        position: absolute;
        z-index: 3;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: -100%;
        top: 0;
        background: var(--bg_white);
        background: linear-gradient(45deg, rgb(211 217 243), transparent);
        width: 100%;
        height: 100%;
        padding-top: 30px;
        transition: all .5s;
    }

    .menu_items.active {
        right: 0;
    }

    .mobile_menu {
        display: block;
        position: relative;
        z-index: 4;
        width: 25px;
        display: flex;
        height: 20px;
        align-items: center;
        cursor: pointer;
    }

    .line {
        width: 100%;
        display: block;
        height: 2px;
        background: var(--yellow);
        transition: all .5S;
    }

    .line::before,
    .line::after {
        position: absolute;
        content: '';
        width: 100%;
        background: var(--yellow);
        height: 2px;
        left: 0;
        transition: all .5S;
    }

    .line::before {
        top: 0;
    }

    .line::after {
        bottom: 0;
    }

    .mobile_menu.active .line {
        background: transparent;
    }

    .mobile_menu.active .line::before {
        transform: rotate(45deg) translateY(-50%);
        top: 50%;
    }

    .mobile_menu.active .line::after {
        transform: rotate(-45deg) translateY(50%);
        bottom: 50%;
    }
}

/* Responsive CSS End */