.navbar {
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all .3s;
}

.navbar.sticky {
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(145deg, #fff, #f0f0f0);
    border-bottom-color: #e0e4e7;
    box-shadow: 0 4px 8px #0000001a;
    z-index: 9;
    transition: al .3s;
    background: linear-gradient(45deg, rgb(211 217 243), transparent);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.nav_wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    box-sizing: border-box;
}

.menu_items {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}